@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(212, 45%, 89%);
    --color-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--color-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main{
    background-color: var(--color-white);
    width: 300px;
    border-radius: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    padding-bottom: 40px;
}

.image-qr{
    width: 100%;
    border-radius: 10px;
}

.txt1{
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-dark-blue);
}

.txt2{
    text-align: center;
    font-weight: 400;
    font-size: .9em;
    color: var(--color-blue);
}
